body {
    font-size: 100%;
}

@font-face {
    font-family: monoton;
    src: url('../fonts/monoton/Monoton-Regular.ttf');
}

@font-face {
    font-family: AkkuratMono;
    src: url('../fonts/Akkurat-Mono/Akkurat-Mono.OTF'),
         url('../fonts/Akkurat-Mono/Akkurat-Mono.ttf');
}


p, li, h2, h1, h3 {
    font-family: AkkuratMono;
    line-height: 20px;
}

p, li {
    font-size: 0.9375em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.860em;
}

h3 {
    font-size: 1.25em;
}

.Name a {
    font-family: monoton;
    font-size: 1.3em;

    
}
